public/
scaffolds/
.github/
.vs/
source/
themes/
.deploy*/

.DS_Store
Thumbs.db
_multiconfig.yml
db.json
*.log
_config.landscape.yml

node_modules/*
!node_modules/hexo-theme-redefine/
!node_modules/hexo-theme-redefine/source/
!node_modules/hexo-theme-redefine/.github/
